<div id="invitation" class="new">

  <p>
    Issue an invitation to join <%= @invite %>
  </p>

  <%= form_for @invite, url: invites_path do |f| %>
      <%= f.hidden_field :invitable_id, value: @invite.invitable_id %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.submit 'Send' %>
  <% end %>

</div>

