<div class="box room-tile">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column">
        <p class="title"><%= room.name %></p>
        <p class="subtitle"><%= room.user.display_name %></p>
      </div>
      <div class="column is-narrow">
        <%= link_to(room_path(room), class: "button is-outlined is-primary") do %>
          <span class="icon is-small">
            <i class="fas fa-door-open"></i>
          </span>
          <span>Visit</span>
         <% end %>
      </div>
    </div>
  </div>
  <div class="content">
    <section class="section">
      <%= react_component("audio_player", { audioUrl: url_for(room.primary_jam.file) }) %>
    </section>

    <div class="columns is-centered">
      <div class="column">
        <i class="fas fa-drum" aria-hidden="true"></i>
        <%= room.primary_jam.bpm %>
      </div>
      <div class="column">
        <i class="fas fa-file-upload" aria-hidden="true"></i>
        <%= room.jams.count %>
      </div>
      <div class="column">
        <i class="fas fa-clock" aria-hidden="true"></i>
        <%= format_duration(room.primary_jam.duration) %>
      </div>
    </div>

    <div class="container">
      Could Use:
      <div class="could-use-tags">
        <% room.primary_jam.could_use_list.each do |tag| %>
          <span class="tag is-primary"><%= tag %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
