<div id="upload-track-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <%= form_with(model: @new_jam, url: [@room, @new_jam],  multipart: true,  local: true) do |form| %>
      <header class="modal-card-head">
        <p class="modal-card-title">Upload a Jam</p>
        <button class="delete modal-close-button" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <div id="file-upload-field" class="file has-name">
            <label class="file-label">
              <%= form.file_field :file, class: "file-input", accept: "audio/*" %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file...
                </span>
              </span>
              <span class="file-name">
                No file selected
              </span>
            </label>
          </div>
        </div>

        <h1 class="subtitle is-3">Supply Optional Info</h1>

        <div class="field">
          <label class="label">Jam Type</label>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <%= form.radio_button :jam_type, "MIX", checked: true %>
                  MIX
                </label>
                <label class="radio">
                  <%= form.radio_button :jam_type, "SOLO" %>
                  SOLO
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">BPM</label>
          <div class="field has-addons">
            <div class="control">
              <%= form.text_field :bpm, class: "input" %>
            </div>
            <div class="control">
              <a class="button is-static">
                bpm
              </a>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Song Key</label>
          <%= form.text_field :song_key, class: "input", placeholder: '(e.g. "A Major", "G Dorian")' %>
        </div>

        <div class="field">
          <label class="label">Which parts could this Jam use?</label>
          <%= form.text_field :could_use_list, class: "input", placeholder: '(e.g. "Bass, Drums, Vocals")' %>
          <p class="help">Supports comma separated list</p>
        </div>

        <div class="field">
          <label class="label">Styles</label>
          <%= form.text_field :style_list, class: "input", placeholder: '(e.g. "Electronic, Lofi")' %>
          <p class="help">Supports comma separated list</p>
        </div>
      </section>

      <footer class="modal-card-foot">
        <%= submit_tag "Upload", class: "button is-success" %>
        <button class="button modal-close-button">Cancel</button>
      </footer>
    <% end %>
  </div>
</div>

