<section class="section" id="room-header">
  <div id="breadcrumb">
    <%= "Home/#{@room.public_id}"%>
  </div>
  <div id="share-this-room">
    Share this Room: <%= link_to room_url(@room) %>
  <div>
</section>

<section class="section" id="main">
  <% if @current_jam %>
    <div id="stage">
      <%= react_component("waveform_player", { id: @current_jam.id, audioUrl: url_for(@current_jam.file) }) %>
      <div class="jam-attributes jam-attributes-big">
        <ul>
          <li>
            <span class="jam-attribute jam-attribute-date">
              <span class="jam-key">Latest JAM: </span>
              <span class="jam-value"><%= @current_jam.created_at.to_formatted_s(:long) %></span>
            </span>
          </li>
          <li>
            <span class="jam-attribute jam-attribute-filename">
              <span class="jam-key">FILE: </span>
              <span class="jam-value"><%= @current_jam.file.filename %></span>
            </span>
          </li>
          <li>
            <span class="jam-attribute jam-attribute-length">
              <span class="jam-key"><i class="far fa-clock"></i> Length: </span>
              <span class="jam-value"><%= "3:35" %></span>
            </span>
          </li>
          <li>
            <span class="jam-attribute jam-attribute-bpm">
              <span class="jam-key"><i class="fas fa-drum"></i> BPM: </span>
              <span class="jam-value"><%= @current_jam.bpm %></span>
            </span>
          </li>
          <li>
            <span class="jam-attribute jam-attribute-user">
              <span class="jam-key"><i class="far fa-user"></i> User: </span>
              <span class="jam-value"><%= "Anonymous" %></span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="jam-buttons">
      <h1>JAM on this track!</h1>
      <%= link_to "Download Track", url_for(@current_jam.file), class: "button is-dark" %>
      <button id="upload-jam-button" class="button">Upload New Track</button>
    </div>
  <% else %>
    <div>
      <div>
        <p>This room is brand new! Upload a track to get started!</p>
      </div>
      <br />
      <button id="upload-jam-button" class="button">Upload New Track</button>
    </div>
  <% end %>
</section>


<section class="section" id="previous-jams">
  <div id="previous-jams">
    <% unless @jams.empty? %>
      <div class="columns jam-header">
        <div class="column">
          Previous JAMs on this track
        </div>
        <div class="column">
          Date
        </div>
        <div class="column">
          Filename
        </div>
        <div class="column">
          <i class="fas fa-compact-disc"></i>
        </div>
        <div class="column">
          <i class="far fa-clock"></i>
          Length
        </div>
        <div class="column">
          <i class="fas fa-drum"></i>
          BPM
        </div>
        <div class="column">
          <i class="far fa-user"></i>
          User
        </div>
        <div class="column">
        </div>
      </div>

      <div class="jam-rows">
        <% @jams.each do |jam| %>
          <div class="columns jam-row">
            <div class="column">
              <span class="jam-value"><%= react_component("waveform_player", { id: jam.id, audioUrl: url_for(jam.file) }) %></span>
            </div>
            <div class="column">
              <span class="jam-value"><%= jam.created_at.to_formatted_s(:long) %></span>
            </div>
            <div class="column">
              <span class="jam-value"><%= jam.file.filename %></span>
            </div>
            <div class="column">
              <span class="jam-value"><%= "MIX" %></span>
            </div>
            <div class="column">
              <span class="jam-value"><%= "3:35" %></span>
            </div>
            <div class="column">
              <span class="jam-value"><%= jam.bpm %></span>
            </div>
            <div class="column">
              <span class="jam-value"><%= "Anonymous" %></span>
            </div>
            <div class="column">
              <span class="jam-value"><%= link_to "Download Track", url_for(jam.file), class: "button is-dark" %></span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <%= form_with(model: @new_jam, url: [@room, @new_jam],  multipart: true,  local: true) do |form| %>
      <header class="modal-card-head">
        <p class="modal-card-title">Upload a Jam</p>
        <button class="delete modal-close-button" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">BPM:</label>
          <%= form.text_field :bpm, class: "input" %>
        </div>
        <div class="field">
          <div id="file-upload-field" class="file has-name">
            <label class="file-label">
              <%= form.file_field :file, class: "file-input", accept: "audio/*" %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file...
                </span>
              </span>
              <span class="file-name">
                No file selected
              </span>
            </label>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <%= submit_tag "Upload", class: "button is-success" %>
        <button class="button modal-close-button">Cancel</button>
      </footer>
    <% end %>
  </div>
</div>

<script>
  const uploadJamButton = document.querySelector('button#upload-jam-button');
  uploadJamButton.onclick = (event) => {
    event.preventDefault();
  
    const modal = document.querySelector('.modal');  // assuming you have only 1
    const html = document.querySelector('html');
    modal.classList.add('is-active');
    html.classList.add('is-clipped');
  
    const closeFunction = (e) => {
      e.preventDefault();
      modal.classList.remove('is-active');
      html.classList.remove('is-clipped');
    };
  
    // Give focus to bpm input element
    modal.querySelector('#jam_bpm').focus();

    modal.querySelector('.modal-background').addEventListener('click', closeFunction);
  
    modal.querySelectorAll("button.modal-close-button").forEach(element => {
      element.addEventListener('click', closeFunction);
    });
  }
  
  // For changing the name in the file upload element
  const fileInput = document.querySelector('#file-upload-field input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-upload-field .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
