<section class="section">
  <div class="container">
    <h1 class="title"><%= @room.title %></h1>
    <h2 class="subtitle">
      Welcome to the room, download the track, add a part, and reupload it. It will replace the current track.
    </h2>
  </div>
</section>
<section class="section">
  <div class="container">
    <% if @room.jam.attached? %>
      <button id="waveformAudioControl" class="button is-large" onClick="clickPlay()">
        <i id="waveformAudioControlIcon" class="far fa-play-circle"></i>
      </button>
      
      <div id="waveform" data-audio-url="<%= url_for(@room.jam) %>"></div>
    </audio>
  <% else %>
    This room is brand new, upload a track to get the jam started!
  <% end %>
</div>
</section>
<section class="section">
  <%= form_with(model: @room, url: room_path(@room.room_hash), local: true) do |form| %>
    <div class="container">
      <div id="choose-file-box" class="file is-boxed">
        <label class="file-label">
          <%= form.file_field :jam, class: 'file-input' %>
          <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file...
              </span>
            </span>
            <span class="file-name">
            </span>
          </label>
        </div>
    </div>
    <br />
    <div class="container">
      <% if @room.jam.attached? %>
        <%= form.submit 'Replace track', data: { confirm: 'You are about to replace the existing track. Do you want to continue?'}, class: 'button is-primary' %>
        
      <% else %>
        <%= form.submit 'Upload track', class: 'button is-primary', id: 'upload-file-button' %>
      <% end %>
    </div>
  <% end %>

  <div class="modal" id="file-upload-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Tell us about the track</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
  </div>
  <script>
    // Waveform
    var wavesurfer = WaveSurfer.create({
      container: '#waveform',
      waveColor: 'violet',
      progressColor: 'purple',
      plugins: [
        WaveSurfer.cursor.create({
          showTime: true,
          opacity: 1,
          customShowTimeStyle: {
              'background-color': '#000',
              color: '#fff',
              padding: '2px',
              'font-size': '10px'
          }
       })
      ]
    });

    // Grab the URL from the data-audio-url attribute
    wavesurfer.load(wavesurfer.container.dataset.audioUrl);

    function clickPlay() {
      if (wavesurfer) {
        if (wavesurfer.isPlaying()) {
          wavesurfer.pause();
        } else {
          wavesurfer.play();
        }
        toggleAudioControlIcon();
      }
    }

    function toggleAudioControlIcon() {
      const audioControllerIcon = document.querySelector("#waveformAudioControlIcon");
      audioControllerIcon.classList.toggle("fa-play-circle");
      audioControllerIcon.classList.toggle("fa-pause-circle");
    }

    // Upload Button
    const fileInput = document.querySelector('#choose-file-box input[type=file]');
    fileInput.onchange = () => {
      if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#choose-file-box .file-name');
        fileName.textContent = fileInput.files[0].name;
      }
    }



    // Modal
    // const uploadButton = document.querySelector('#upload-file-button');
    // const uploadModal = document.querySelector('#file-upload-modal');

    // uploadButton.onclick = () => {
    //   alert('button clicked');
    //   uploadModal.classList.add("is-active");

    //   if (fileInput.files.length > 0) {

    //   }
    // }
  </script>
</section>
