<% content_for :packs do %>
  <%= javascript_pack_tag("waveform_player_display") %>
<% end %>

<div>
  <%= "Home/#{@room.room_hash}"%>
</div>

<% if @current_jam %>
    <div id="current-jam-attributes">
      <ul>
        <li>Latest JAM <%= @current_jam.created_at.strftime("%B, %d %Y") %></li>
        <li>FILE: <%= @current_jam.filename %></li>
        <li>BPM: <%= @current_jam.bpm %></li>
      </ul>
    <div>
  <div id="main-waveform-react-element"></div>
<% else %>
  <div>
    This room is brand new! Upload a track to get started!
  </div>
<% end %>

<div id="previous-jams">
  <% unless @jams.empty? %>
    Previous JAMs on this track
    <% @jams.each do |jam| %>
      <div id="previous-jam-attributes">
        <ul>
          <li>Latest JAM <%= jam.created_at.strftime("%B, %d %Y") %></li>
          <li>FILE: <%= jam.filename %></li>
          <li>BPM: <%= jam.bpm %></li>
        </ul>
      <div>
    <% end %>
    <div id="previous-jams-react-element"></div>
  <% end %>
</div>

<div>
  <% if @current_jam %>
    <h1>JAM on this track!</h1>
    <%= link_to("Download Track", url_for(@current_jam.file), class: "button") %>  
  <% end %>
  <button class="button">Upload New Track</button>
</div>