<!DOCTYPE html>
<html>
  <head>
    <title>Jamroulette</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer="true"
            src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    
    <%= stylesheet_pack_tag("application") %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag("waveform_player_display") %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
