<!DOCTYPE html>
<html>
  <head>
    <title>Jamroulette</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer="true"
            src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    
    <%= stylesheet_pack_tag("application") %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:alert] %>
      <div class="notification is-danger is-marginless is-radiusless">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="notification is-success is-marginless is-radiusless">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
