<!DOCTYPE html>
<html>
  <head>
    <title>Jamroulette</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer="true"
            src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    
    <%= stylesheet_pack_tag("application") %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render "layouts/navbar" %>

  <body>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
